header {
    background: hsl(0, 0%, 100%);
    width: 1440px;
    height: 70px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left:70px;
}
.links {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
a {
    text-decoration: none;
    color: lightslategray;
    margin: 10px;
    font-size: 20px;
}
.request_invite1 {
    background-image: linear-gradient(to right, #0DDC5B, #27CBDF);    
    position: absolute;
    top: 50%;
    left: 1150px;
    transform: translateY(-50%);
    width: 160px;
    height: 45px;
    border-radius: 30px;
}
.request_invite1_a {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    color: hsl(0, 0%, 100%);
    left: 8%;
    font-family: "Public Sans";
}